# OpenAI
OPENAI_API_KEY="sk-"
OPENAI_CHAT_MODEL="gpt-4o-mini"
OPENAI_EMBEDDING_MODEL="text-embedding-3-small"
OPENAI_WHISPER_MODEL="whisper-1"
#PYTHONPATH=backend
# Pinecone
PINECONE_API_KEY="pcs-"
PINECONE_INDEX=""

# Auth
JWT_SECRET=anything

# CORS (comma-separated for multiple origins)
ALLOWED_ORIGINS=http://localhost:3000
